<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/png" href="favicon.ico" />

    <title>YUBOX - Configuración</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="https://yubox.com" target="_new">YUBOX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto nav" role="tablist" id="yuboxMainTab">
          {{#modules}}
            <li class="nav-item">
              <a class="nav-link {{module_active}}" id="{{module_name}}-tab" data-toggle="tab" role="tab" aria-controls="{{module_name}}" aria-selected="false" href="#{{module_name}}">{{module_desc}}</a>
            </li>
          {{/modules}}
          </ul>
        </div>
      </nav>
    </header>
    <main role="main" style="padding-top: 15px;">
      <div class="container">
        <!-- El siguiente div se clona para mostrar una alerta vía yuboxMostrarAlert() -->
        <div class="alert alert-dismissible fade show yubox-alert-template" role="alert">
          <!-- Ubicación donde estará el contenido de la alerta -->
          <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="tab-content" id="yuboxMainTabContent">
        {{#modules}}
            <div id="{{module_name}}" role="tabpanel" aria-labelledby="{{module_name}}-tab" class="tab-pane fade">
{{{module_content}}}
            </div>
        {{/modules}}
        </div>
      </div>
    </main>
  </body>
  <script type="text/javascript">
var _yubox_serialized_loadlist = [
  /* Bootstrap CSS */
  { t: 'css', src: 'bootstrap-4.6.0.min.css' },
  { t: 'css', src: 'yuboxapp.css' },
  /* Bibliotecas javascript */
  { t: 'js',  src: 'jquery-3.6.0.min.js' },
  { t: 'js',  src: 'bootstrap-4.6.0b.min.js' }, /* Debería ser bootstrap-4.6.0.bundle.min.js pero SPIFFS no admite máx 31 caracteres */
{{#extra_jslibs}}
  { t: 'js',  src: '{{{jslib}}}' },
{{/extra_jslibs}}
  { t: 'js',  src: 'yuboxapp.js' }
];
function _yubox_serialized_loadone()
{
  if (_yubox_serialized_loadlist.length <= 0) return;
  var f = _yubox_serialized_loadlist.shift();
  var fref;
  //console.log('DEBUG: cargando '+f.src+' de tipo '+f.t+'...');
  switch (f.t) {
  case 'css':
    fref = document.createElement('link');
    fref.setAttribute('type', 'text/css');
    fref.setAttribute('rel', 'stylesheet');
    fref.setAttribute('href', f.src);
    break;
  case 'js':
    fref = document.createElement('script');
    fref.setAttribute('type', 'text/javascript');
    fref.setAttribute('src', f.src);
    break;
  default:
    // Tipo de archivo no implementado
    return;
  }
  fref.onload = function () {
    //console.log('DEBUG: cargado!');
    _yubox_serialized_loadone();
  };
  document.getElementsByTagName('head')[0].appendChild(fref);
}

_yubox_serialized_loadone();
  </script>
</html>
