/* Estilos usados para mostrar la intensidad de la señal WiFi */
svg.wifipower > rect {
    fill: #cce5ff;
}

svg.wifipower.at-least-1bar > rect.at-least-1bar,
svg.wifipower.at-least-2bars > rect.at-least-1bar, svg.wifipower.at-least-2bars > rect.at-least-2bars,
svg.wifipower.at-least-3bars > rect.at-least-1bar, svg.wifipower.at-least-3bars > rect.at-least-2bars, svg.wifipower.at-least-3bars > rect.at-least-3bars,
svg.wifipower.at-least-4bars > rect.at-least-1bar, svg.wifipower.at-least-4bars > rect.at-least-2bars, svg.wifipower.at-least-4bars > rect.at-least-3bars, svg.wifipower.at-least-4bars > rect.at-least-4bars
{
    fill: #004085;
}

div.modal-body.scanned > div.form-group.manual-only,
div.modal-body.manual > div.form-group.scanned-only
{
    display: none;
}